<h2><%= link_to "POPCORN", "/" %></h2>
<% if current_member %>
  <ul class="account-menu">
    <%= menu_link_to current_member.user_name + "さん", :account %>
    <%= menu_link_to "ログアウト", :session,
          method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>

<%=
  if controller.kind_of?(Admin::Base) 
      render "shared/admin_menubar"
  else
      render "shared/menubar"
  end
%>